.edit-resources-links-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    max-width: 350px;
    padding: 15px 0px;
    background: #eceff1;
    border-radius: 16px;
    margin: 16px auto; // margin = top,right,bottom,left

    .edit-resources-header {
        margin: 0px auto 2px;
    }

    .edit-resources-links {
        margin: 0px 0px 0px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        max-width: 200px;

        div {
            width: 100%;
            margin-top: 0px;

            a.btn {
                text-decoration: none;
            }
        }
    }
}
