<!-- workorder loading spinner -->
<div *ngIf="loadingWorkorder">
  <div class="bootstrap-spinner-container">
    <div class="bootstrap-spinner">
      <div
        #workorderLoadingSpinner
        class="spinner-border"
        style="width: 2rem; height: 2rem"
        role="status"
      ></div>
      <span class="loading-tag"><strong>Loading workorder...</strong></span>
    </div>
  </div>
</div>

<div [hidden]="loadingWorkorder">
  <!-- workorder loaded -->
  <div *ngIf="workorder">
    <div class="form-container mat-elevation-z5">
      <div class="form-header"><h2>Issue Spares</h2></div>
      <form [formGroup]="form" (ngSubmit)="issueSpares()" autocomplete="off">
        <!-- wokrorder number -->
        <mat-form-field>
          <mat-label>Workorder Number</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="workorderNumber"
          />
        </mat-form-field>

        <!-- workorder type -->
        <mat-form-field>
          <mat-label>Workorder Type</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="workorderType"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- abnormality-card am-step -->
        <div *ngIf="workorder.abnormalityCard.status">
          <mat-form-field>
            <mat-label>Am Step</mat-label>
            <input type="text" matInput readonly formControlName="amStep" />
          </mat-form-field>
        </div>

        <!-- raiser -->
        <mat-form-field>
          <mat-label>Raised By</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="raiser"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- supervisor -->
        <mat-form-field>
          <mat-label>Supervisor</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="supervisor"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- eng technician -->
        <mat-form-field>
          <mat-label>Eng Technician</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="technician"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- stores technician -->
        <mat-form-field>
          <mat-label>Store Technician</mat-label>
          <input
            type="text"
            matInput
            readonly
            class="text-capitalize"
            formControlName="storeTechnician"
          />
        </mat-form-field>

        <!-- date time machine stopped -->
        <div *ngIf="workorder.breakdown.status">
          <div>
            <mat-form-field class="shareWidth">
              <mat-label>Date M/C Stopped</mat-label>
              <input
                type="text"
                matInput
                readonly
                formControlName="dateMachineStopped"
              />
            </mat-form-field>
            <mat-form-field class="shareWidth">
              <mat-label>Time M/C Stopped</mat-label>
              <input
                type="text"
                matInput
                readonly
                formControlName="timeMachineStopped"
              />
            </mat-form-field>
          </div>
        </div>

        <!-- date time raised -->
        <!-- wrapped in div to effect shareWidth -->
        <div>
          <mat-form-field class="shareWidth">
            <mat-label>Date Raised</mat-label>
            <input
              matInput
              readonly
              type="text"
              formControlName="dateRaised"
              class="date-raised"
            />
          </mat-form-field>

          <mat-form-field class="shareWidth">
            <mat-label>Time raised</mat-label>
            <input
              matInput
              readonly
              type="text"
              formControlName="timeRaised"
              class="time-raised"
            />
          </mat-form-field>
        </div>

        <!-- date time approved -->
        <div>
          <mat-form-field class="shareWidth">
            <mat-label>Date Approved</mat-label>
            <input
              matInput
              readonly
              type="text"
              formControlName="dateApproved"
            />
          </mat-form-field>

          <mat-form-field class="shareWidth">
            <mat-label>Time Approved</mat-label>
            <input
              matInput
              readonly
              type="text"
              formControlName="timeApproved"
            />
          </mat-form-field>
        </div>

        <!-- section -->
        <mat-form-field>
          <mat-label>Section</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="section"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- machine -->
        <mat-form-field>
          <mat-label>Machine</mat-label>
          <input
            matInput
            readonly
            type="text"
            formControlName="machine"
            class="text-capitalize"
          />
        </mat-form-field>

        <!-- problem description -->
        <mat-form-field>
          <mat-label>Problem Description</mat-label>
          <textarea
            matInput
            readonly
            type="text"
            formControlName="problemDescription"
            class="text-capitalize"
            autosize
          ></textarea>
        </mat-form-field>

        <!-- sparesUsed toggle buttons -->
        <div>
          <mat-radio-group
            class="toggle-spares-used-button-group"
            aria-labelledby="toggle spares used"
            formControlName="sparesUsedStatus"
          >
            <mat-radio-button
              class="toggle-spares-used-button"
              type="button"
              value="true"
            >
              Spares Used
            </mat-radio-button>
            <mat-radio-button
              class="toggle-spares-used-button"
              type="button"
              value="false"
            >
              No Spares Used
            </mat-radio-button>
          </mat-radio-group>
          <mat-error
            *ngIf="form.controls['sparesUsedStatus']?.errors?.['statusUnknown']"
          >
            Indicate whether/not spares were used.
          </mat-error>
        </div>

        <!-- display selected spares -->
        <ng-container *ngIf="sparesUsedStatus" formArrayName="sparesUsedArray">
          <!-- label -->
          <div *ngIf="sparesUsedArray?.length !== 0">
            <mat-label
              [ngClass]="{
                'invalid-spares-label': form.controls['sparesUsedArray']?.errors?.['invalidSpares']
              }"
              >Selected Spares</mat-label
            >
          </div>

          <div
            *ngIf="sparesUsedArray?.length === 0"
            class="no-spares-selected-label"
          >
            <mat-label>No Spares Selected</mat-label>
          </div>
          <!-- spare fields labels -->
          <div
            *ngIf="sparesUsedArray?.length !== 0"
            class="spare-form-header-row"
          >
            <div class="code-label">
              <span>code</span>
            </div>
            <div class="quantity-label">
              <span>qty</span>
            </div>
            <div class="total-cost-label">
              <span>total cost</span>
            </div>
            <div class="delete-btn-label">
              <span>del</span>
            </div>
          </div>

          <!-- selected spares -->
          <ng-container
            *ngFor="let spareForm of sparesUsedArray.controls; let i = index"
          >
            <div class="spare-form-row" [formGroup]="spareForm">
              <mat-form-field class="code">
                <input type="text" matInput readonly formControlName="code" />
              </mat-form-field>
              <mat-form-field class="quantity">
                <input type="text" matInput formControlName="quantity" />
              </mat-form-field>
              <mat-form-field class="total-cost">
                <input
                  type="text"
                  matInput
                  readonly
                  formControlName="totalCost"
                />
              </mat-form-field>
              <mat-form-field class="delete-btn">
                <input matInput />
                <mat-icon matSuffix (click)="removeAddedSpare(i)"
                  >delete
                </mat-icon>
              </mat-form-field>
            </div>
          </ng-container>

          <!-- form array errors -->
          <div
            *ngIf="form.controls['sparesUsedArray']?.errors?.['invalidSpares']"
            class="spares-used-array-errors"
          >
            <div
              *ngIf="form.controls['sparesUsedArray']?.errors?.['invalidLength']"
              class="spares-required-error"
            >
              <mat-error
                *ngIf="form.controls['sparesUsedArray']?.errors?.['invalidLength']"
              >
                {{ form.controls['sparesUsedArray']?.errors?.['invalidLength']?.errorMessage }}
              </mat-error>
            </div>
            <div
              *ngIf="form.controls['sparesUsedArray']?.errors?.['invalidSpareQuantity']"
              class="invalid-spare-quantity-error"
            >
              <mat-error
                *ngIf="form.controls['sparesUsedArray']?.errors?.['invalidSpareQuantity']"
              >
                {{
                  form.controls['sparesUsedArray']?.errors?.['invalidSpareQuantity']?.errorMessage
                }}
              </mat-error>
            </div>
          </div>

          <!-- total spares cost -->
          <div
            *ngIf="!form.controls['sparesUsedArray']?.errors?.['invalidSpares']"
            class="total-spares-cost-row"
          >
            <div class="spares-cost-tag">
              <div>
                <span><strong>Total Spares Cost</strong></span>
              </div>
            </div>
            <div class="spares-cost-value">
              <div>
                <span
                  ><strong>{{ getTotalSparesCost }}</strong></span
                >
              </div>
            </div>
          </div>
        </ng-container>

        <!-- search for and select new spares -->
        <div *ngIf="sparesUsedStatus">
          <mat-form-field appearance="outline">
            <mat-label>New Spare: Search Spare Code Or Name</mat-label>
            <input
              #searchSparesInputField
              type="text"
              matInput
              formControlName="searchSparesInput"
              class="search-spares-input"
              (keyup)="searchSpares($event)"
              placeholder="type spare code or name"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Spares</mat-label>
            <mat-select formControlName="selectSparesUsed">
              <mat-option selected>--search spares above</mat-option>
              <mat-select-trigger>--select spares--</mat-select-trigger>
              <mat-option
                *ngFor="let spare of spares"
                [value]="spare"
                (onSelectionChange)="addNewSpare($event, spare)"
                >{{ spare.code }}: {{ spare.name }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="form.controls['selectSparesUsed']?.errors?.['noSparesSelected']"
              >{{form.controls['selectSparesUsed']?.errors?.['noSparesSelected']?.errorMessage}}</mat-error
            >
          </mat-form-field>
        </div>

        <!-- submit buttons section -->
        <div *ngIf="!issuingSpares" class="action-buttons">
          <div
            class="action-button d-flex justify-content-center align-items-center"
          >
            <button
              type="button"
              class="btn btn-secondary my-2"
              (click)="returnToListWorkorders()"
            >
              Cancel
            </button>
          </div>
          <div
            class="action-button d-flex justify-content-center align-items-center"
          >
            <button type="submit" class="btn btn-primary shadow-none my-2">
              Issue Spares
            </button>
          </div>
        </div>

        <div *ngIf="issuingSpares" class="action-buttons">
          <button type="button" class="btn btn-success my-2" disabled>
            <span
              #issuingSparesButtonSpinner
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>
            Issuing spares...
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- workorder not loaded -->
  <div *ngIf="!workorder && showErrorMessage">
    <div class="form-container mat-elevation-z5">
      Failed to load workorder. Please try reloading the page or select the
      workorder again from the previous page.
    </div>
  </div>
</div>
