$code-width: 25%;
$quantity-width: 20%;
$cost-width: 45%;
$delete-button-width: 10%;

.bootstrap-spinner-container {
    margin: auto;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bootstrap-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.toggle-spares-used-button-group {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 15px;
}

.toggle-spares-used-button {
    margin: 5px;
}

// screens larger than 300px
@media (min-width: 301px) {
    .bootstrap-spinner {
        flex-flow: row wrap;
    }
    .loading-tag {
        margin-left: 16px;
    }

    .toggle-spares-used-button-group {
        flex-direction: row;
    }

    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }
}

// screens smaller than 301px;
@media (max-width: 300px) {
    .bootstrap-spinner {
        flex-flow: column wrap;
    }
    .loading-tag {
        margin: 16px auto;
    }

    .toggle-spares-used-button-group {
        flex-direction: column;
    }
}

.no-spares-selected-label {
    margin: 0px 0px 16px;
}

.spare-form-header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 16px 0px 5px;

    .code-label,
    .total-cost-label,
    .delete-btn-label,
    .quantity-label {
        color: black;
        font-weight: bold;
    }

    .code-label {
        width: $code-width;
    }

    .quantity-label {
        width: $quantity-width;
    }

    .total-cost-label {
        width: $cost-width;
    }

    .delete-btn-label {
        width: $delete-button-width;
    }
}

.spare-form-row {
    width: 100%;

    mat-form-field.code {
        width: $code-width;
    }

    mat-form-field.quantity {
        width: $quantity-width;
    }

    mat-form-field.total-cost {
        width: $cost-width;
    }

    mat-form-field.delete-btn {
        width: $delete-button-width;
        cursor: pointer;
    }
}

.total-spares-cost-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 16px;

    .spares-cost-tag,
    .spares-cost-value {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.invalid-spares-label {
    color: red;
}

.spares-used-array-errors {
    width: 100%;
    margin: 16px 0px;

    .spares-required-error,
    .invalid-spare-quantity-error {
        width: 100%;
    }
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .action-button {
        width: 50%;
    }
}

.selected-spares-trigger {
    opacity: 0.75;
    font-size: 0.75em;
}
