<div class="raise-workorders-links-container mat-elevation-z5">
  <h2 class="text-center fw-bold title-element">Choose Workorder Type</h2>
  <div class="raise-workorders-links">
    <div class="corrective-maintenance">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('cm')">
        Corrective Maintenance
      </a>
      <!-- router-link mt-2 mb-1 text-start btn -->
    </div>

    <div class="breakdown">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('bd')">
        Breakdown
      </a>
    </div>

    <div class="tool-change">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('tc')">
        Tool Change
      </a>
    </div>

    <div class="am">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('am')">
        AM
      </a>
    </div>

    <div class="pm">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('pm')">
        PM
      </a>
    </div>

    <div class="mold-service">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('ms')">
        Mold Service
      </a>
    </div>

    <div class="abnormality-card">
      <a type="button" class="btn btn-link" (click)="updateWorkorderType('ac')">
        Abnormality Card
      </a>
    </div>

    <div class="kaizen-card">
      <a
        type="button"
        class="btn btn-link disabled"
        (click)="updateWorkorderType('kc')"
        aria-disabled="true"
      >
        Kaizen Card
      </a>
    </div>

    <div class="service">
      <a
        type="button"
        class="btn btn-link disabled"
        (click)="updateWorkorderType('ser')"
        aria-disabled="true"
      >
        Service
      </a>
    </div>

    <div class="project">
      <a
        type="button"
        class="btn btn-link disabled"
        (click)="updateWorkorderType('pr')"
        aria-disabled="true"
      >
        Project
      </a>
    </div>
  </div>
</div>
