<div
  class="modal fade"
  id="raiseConcernModal"
  tabindex="-1"
  aria-labelledby="raiseConcernModalLabel"
  aria-hiden="true"
  data-bs-backdrop="static"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm"
  >
    <div class="modal-content bg-light">
      <div class="modal-header text-dark">
        <div class="modal-title m-0" id="raiseConcernModalLabel">
          <h3 class="workorder-type">
            {{ workorder?.workorder?.type }}
          </h3>
          <h3 class="workorder-number">
            W/o No: {{ workorder?.workorder?.number }}
          </h3>
        </div>
        <button
          #closeModalButton
          class="btn-close border border-success border-2"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>

      <div class="modal-body">
        <div class="form-container mat-elevation-z5">
          <div class="form-header-container">
            <h2>Raise Concern</h2>
          </div>

          <form
            [formGroup]="form"
            (ngSubmit)="raiseConcern()"
            id="raiseConcern"
            #formReference
            autocomplete="off"
            class="raise-concern-form"
          >
            <mat-form-field>
              <mat-label>Select User</mat-label>
              <mat-select class="text-capitalize" formControlName="user">
                <mat-option
                  class="text-capitalize"
                  *ngFor="let user of users"
                  [value]="user"
                  >{{ user.fullName }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="form.controls['user']?.errors?.['required']"
                >Please select a user.</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Concern</mat-label>

              <textarea
                matInput
                appValidateSentenceFormat
                type="text"
                formControlName="concern"
                class="text-capitalize"
                maxlength="800"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="15"
              >
              </textarea>
              <mat-error *ngIf="form.controls['concern']?.errors?.['required']"
                >Please provide a concern message.</mat-error
              >
              <mat-error
                *ngIf="form.controls['concern']?.errors
                      ?.['invalidSentenceFormat']
                  "
              >
                {{
                    form.controls['concern']?.errors
                      ?.['invalidSentenceFormat']?.value
                }}
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <div *ngIf="!raisingConcern">
          <button
            type="button"
            class="btn btn-secondary me-3"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Cancel
          </button>

          <button
            type="submit"
            class="btn btn-primary"
            form="raiseConcern"
            (click)="formReference?.['ngSubmit']?.emit()"
          >
            Raise Concern
          </button>
        </div>

        <div *ngIf="raisingConcern">
          <button type="button" class="btn btn-success" disabled>
            <span
              #buttonSpinner
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            >
            </span>
            Raising Concern...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  #openModalButton
  [hidden]="true"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#raiseConcernModal"
>
  Raise Concern
</button>
