.sidenav-heading-container,
.workorder-status-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-heading {
    margin: 16px 0 0;
}

.workorder-status-wrapper {
    margin: 12px 3px;
    padding: 10px 0;
}
.workorder-status-wrapper {
    border: 1px solid rgba(100%, 0, 0, 0.5);
}
.workorder-status-wrapper:not(.escalated) {
    border: 1px solid black;
}

.workorder-status {
    color: red;
}
.workorder-status:not(.escalated) {
    color: black;
}

.workorders-sidenav-text {
    text-align: center;
    padding: 45% 20px;
}

mat-divider.mat-divider {
    border-top-width: 2px;
    border-top-color: black;
}

:host {
    ::ng-deep {
        span.mat-list-item-content {
            padding: 0px;
        }

        h2 {
            margin: 0px 0px 8px;
        }
    }
}

.action-button {
    text-decoration: none;
}

.display-workorder-actions {
    display: flex;
    flex-direction: column;

    mat-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    mat-list-item.long-button-text {
        height: 60px;
    }

    ::ng-deep {
        span.mat-list-item-content {
            padding: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
