<ngx-spinner type="ball-newton-cradle" name="app-forgot-password-spinner">
  <p style="font-size: 20px; color: white" class="text-center">
    Sending your password reset link...
  </p>
</ngx-spinner>

<div class="form-container mat-elevation-z5">
  <h2>Reset Your Password</h2>
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <mat-form-field appearance="outline">
      <mat-label>Your Email</mat-label>
      <input matInput formControlName="email" placeholder="john@example.com" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Invalid format.
      </mat-error>
    </mat-form-field>

    <div class="mx-auto">
      <button class="my-4 btn btn-success" type="submit">
        Reset Password
      </button>
    </div>
    <div class="mx-auto">
      <a
        type="button"
        color="primary"
        class="btn btn-outline-success"
        routerLink="/authentication/sign-in"
      >
        Back to Login
      </a>
    </div>
  </form>
</div>
