.bootstrap-spinner-container,
.bootstrap-spinner  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

    
}

.loading-tag {
    margin-left: 4px;
}

