<div *ngIf="loading">
  <div class="form-container mat-elevation-z8">
    <div class="bootstrap-spinner-container">
      <div class="bootstrap-spinner">
        <div
          class="spinner-border"
          style="width: 2rem; height: 2rem"
          role="status"
        ></div>
        <span class="loading-tag"><strong>Loading spares...</strong></span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loadingFailed">
  <div class="form-container mat-elevation-z5">
    <div class="form-header fw-bold mb-3">Edit Spare</div>
    <form [formGroup]="form" (ngSubmit)="editSpare()">
        <!-- search -->
       <mat-form-field appearance="outline" appearance="outline">
        <mat-label>Search Spare Code/Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="searchSpareTerm"
          (keyup)="searchSpares($event)"
          placeholder="type spare code or name"
        />
      </mat-form-field>

       <mat-form-field appearance="outline">
        <mat-label>Spares</mat-label>
        <mat-select
          #selectSpares
          class="text-capitalize"
          formControlName="spare"
          (selectionChange)="displaySpare(selectSpares.value)"
        >
          <mat-option value="">--select spare--</mat-option>
          <mat-option
            *ngFor="let spare of spares"
            [value]="spare"
            class="text-capitalize"
          >
            {{ spare.name }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="form.controls['spare']?.errors?.['required']">
          Please select a spare.
        </mat-error>
      </mat-form-field>

      <div *ngIf="spareSelected">
         <mat-form-field appearance="outline">
          <mat-label>Spare Code</mat-label>
          <textarea
            matInput
            formControlName="code"
            class="text-capitalize"
            type="text"
            maxlength="500"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="3"
          >
          </textarea>
          <mat-error *ngIf="form.controls['code']?.errors?.['required']">Spare code is required.</mat-error>
        </mat-form-field>

         <mat-form-field appearance="outline">
          <mat-label>Spare Name</mat-label>
          <textarea
            matInput
            formControlName="name"
            class="text-capitalize"
            appValidateSentenceFormat
            type="text"
            maxlength="500"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="7"
          >
          </textarea>

          <mat-error *ngIf="form.controls['name']?.errors?.['required']"
            >Spare name is required.</mat-error
          >
          <mat-error
            *ngIf="form.controls['name']?.errors?.['invalidSentenceFormat']"
          >
            {{
                form.controls['name']?.errors?.['invalidSentenceFormat'].value
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Spare Unit Cost</mat-label>
          <textarea
            matInput
            formControlName="unitCost"
            class="text-capitalize"
            appValidateSentenceFormat
            type="text"
            maxlength="500"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="7"
          >
          </textarea>

          <mat-error *ngIf="form.controls['unitCost']?.errors?.['required']"
            >New unit cost is required.</mat-error
          >
          <mat-error
            *ngIf="form.controls['unitCost']?.errors?.['invalidUnitCost']"
          >
            {{
                form.controls['unitCost']?.errors?.['invalidUnitCost'].errorMessage
            }}
          </mat-error>
        </mat-form-field>
      </div>

      <button *ngIf="!editingSpare" type="submit" class="btn btn-primary my-3">
        Edit Spare
      </button>

      <button
        *ngIf="editingSpare"
        type="button"
        disabled
        class="btn btn-success my-3"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        >
        </span>
        Editing Spare...
      </button>
    </form>
  </div>
</div>

<div *ngIf="!loading && loadingFailed">
  <div class="form-container mat-elevation-z5"></div>
</div>
