<!-- filter workorders -->
<div
  class="filter-workorders"
  *ngIf="!loadingWorkorders && !loadingWorkordersFailed"
>
  <div class="filter-workorders-text-and-icon">
    <div class="filter-workorders-text fw-bold">Filter</div>
    <div class="filter-workorders-icon">
      <mat-icon
        (click)="showWorkordersFilterOptions = !showWorkordersFilterOptions"
        >filter_list</mat-icon
      >
    </div>
  </div>
  <!-- filter fields based on date raised -->
  <div *ngIf="showWorkordersFilterOptions" class="filter-workorders-options">
    <mat-form-field>
      <mat-label>Filter Options</mat-label>
      <mat-select
        #filterWorkordersOptionsField
        (selectionChange)="
          filterWorkordersByDateRaised(filterWorkordersOptionsField.value)
        "
      >
        <mat-option value="None">None</mat-option>
        <mat-option value="Today">Today</mat-option>
        <mat-option value="Yesterday">Yesterday</mat-option>
        <mat-option value="This Week">This Week</mat-option>
        <mat-option value="Last Week">Last Week</mat-option>
        <mat-option value="This Month">This Month</mat-option>
        <mat-option value="Last Month">Last Month</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- filter value -->
<div *ngIf="filterOption && filterOption !== 'None'" class="filter-field-value">
  <div class="filter-value">{{ filterOption }}'s</div>
</div>

<!-- sidenav header -->
<div class="sidenav-heading-container left-sidenav-heading">
  <div class="sidenav-heading">
    <h2>Workorders</h2>
  </div>
</div>

<!-- loading workorders -->
<div *ngIf="loadingWorkorders">
  <div class="workorders-sidenav-text-container">
    <div class="loading-workorders workorders-sidenav-text">
      Loading workorders...
    </div>
  </div>
</div>

<!-- loading workorders failed -->
<!-- error message -->
<div *ngIf="!loadingWorkorders && loadingWorkordersFailed">
  <div class="workorders-sidenav-text-container">
    <div class="loading-workorders workorders-sidenav-text" style="color: red">
      Loading workorders failed.
    </div>
  </div>
</div>

<!-- workorders loaded -->
<div
  *ngIf="!loadingWorkorders && !loadingWorkordersFailed && workordersToDisplay"
>
  <!-- no pending workorders -->
  <div *ngIf="workordersToDisplay.length === 0">
    <div class="workorders-sidenav-text-container">
      <div class="workorders-sidenav-text">No workorders to display.</div>
    </div>
  </div>

  <!-- pending workorders -->
  <div *ngIf="workordersToDisplay.length !== 0">
    <div class="display-workorder-numbers">
      <mat-action-list role="list">
        <!-- corrective maintenance workorders -->
        <div
          *ngIf="
            filterWorkordersByType(
              'Corrective Maintenance'
            ) as correctiveMaintenanceWorkorders
          "
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="correctiveMaintenanceWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Corrective Mtnc </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item
                role="listitem"
                *ngFor="
                  let workorder of correctiveMaintenanceWorkorders;
                  let last = last
                "
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- breakdown workorders -->
        <div
          *ngIf="filterWorkordersByType('Breakdown') as breakdownWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="breakdownWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Breakdown </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item
                role="listitem"
                *ngFor="let workorder of breakdownWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- tool change workorders -->
        <div
          *ngIf="filterWorkordersByType('Tool Change') as toolChangeWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="toolChangeWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Tool Change </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item
                role="listitem"
                *ngFor="let workorder of toolChangeWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- am workorders -->
        <div
          *ngIf="filterWorkordersByType('AM') as amWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="amWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> AM </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item
                role="listitem"
                *ngFor="let workorder of amWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- pm workorders -->
        <div
          *ngIf="filterWorkordersByType('PM') as pmWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="pmWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> PM </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item
                role="listitem"
                *ngFor="let workorder of pmWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- abnormality card workorders -->
        <div
          *ngIf="
            filterWorkordersByType(
              'Abnormality Card'
            ) as abnormalityCardWorkorders
          "
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="abnormalityCardWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Abnormality Card </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item
                role="listitem"
                *ngFor="
                  let workorder of abnormalityCardWorkorders;
                  let last = last
                "
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- mold service workorders -->
        <div
          *ngIf="
            filterWorkordersByType('Mold Service') as moldServiceWorkorders
          "
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="moldServiceWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Mold Service </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item
                role="listitem"
                *ngFor="let workorder of moldServiceWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- service workorders -->
        <div
          *ngIf="filterWorkordersByType('Service') as serviceWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="serviceWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Service </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item
                role="listitem"
                *ngFor="let workorder of serviceWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- kaizen card workorders -->
        <div
          *ngIf="filterWorkordersByType('Kaizen Card') as kaizenCardWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="kaizenCardWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Kaizen Card </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item
                role="listitem"
                *ngFor="let workorder of kaizenCardWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <!-- project workorders -->
        <div
          *ngIf="filterWorkordersByType('Project') as projectWorkorders"
          class="workorder-numbers-container"
        >
          <ng-container *ngIf="projectWorkorders.length !== 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Project </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list-item
                role="listitem"
                *ngFor="let workorder of projectWorkorders; let last = last"
              >
                <button
                  type="button"
                  class="action-button btn btn-link"
                  (click)="displayWorkorder(workorder)"
                >
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                    >{{
                      workorder.raised.dateTime | formatWorkorderNumber
                    }}</span
                  >
                </button>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-expansion-panel>
          </ng-container>
        </div>
      </mat-action-list>
    </div>
  </div>
</div>
