.sidenav-heading-container,
.mat-subheader.workorders-subheader,
.workorders-sidenav-text-container,
.filter-workorders-text-and-icon,
.filter-workorders-options,
.filter-workorders-text,
.filter-workorders-icon,
.filter-field-value,
.workorder-numbers-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-workorders {
    margin: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .filter-workorders-text,
    .filter-workorders-icon {
        width: 50%;
    }

    .filter-workorders-options {
        width: 100%;
        padding: 5px;

        mat-form-field {
            width: 100%;
        }
    }

    .filter-workorders-text-and-icon {
        width: 100%;
    }
}

.sidenav-heading {
    margin: 16px 0 0;
}

.filter-field-value {
    margin: 5px 2px 0;
    padding: 5px 0px;
    border: 1px solid black;

    .filter-value {
        color: black;
    }
}

.workorders-sidenav-text {
    text-align: center;
    padding: 45% 20px;
}

mat-divider.mat-divider {
    border-top-width: 2px;
    border-top-color: black;
}

.workorder-numbers-container {
    margin: 0 0 8px;
}

.mat-expansion-panel-header {
    padding: 0px;
    height: 40px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-expansion-panel-header-title {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        // font-weight: bold;
    }
}

:host {
    ::ng-deep {
        h2 {
            margin: 0px 0px 8px;
        }

        .mat-list-base {
            .mat-list-item .mat-list-item-content {
                justify-content: center;
                padding: 0px;
            }
            .mat-subheader {
                color: black;
                padding: 0px;
                // margin: 10px 0px 0px !important;
                height: 24px;
                line-height: 1.6;
            }
        }

        .mat-expansion-panel {
            width: 100%;
            //  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
            //     0px 1px 5px 0px rgb(0 0 0 / 12%);
            box-shadow: 0px 3px 1px 0px rgb(0 0 0 / 20%), 0px 2px 200px 20px rgb(0 0 0 / 14%),
                0px 1px 5px 0px rgb(0 0 0 / 12%);
        }

        .mat-expansion-panel-body {
            padding: 0;
        }
    }
}

.action-button {
    text-decoration: none;
    padding: 1px 6px;
}
