.bootstrap-spinner-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .bootstrap-spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .bootstrap-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 32px 0 8px;

            .loading-tag {
                margin: 16px 0;
            }
        }
    }
}
