<ngx-spinner type="ball-newton-cradle" name="app-root-spinner">
    <p style="font-size: 20px; color: white">Starting Application...</p>
</ngx-spinner>
<ngx-spinner type="ball-newton-cradle" name="logout-spinner">
    <p style="font-size: 20px; color: white">Logging you out...</p>
</ngx-spinner>
<ngx-spinner
    type="ball-newton-cradle"
    name="app-raise-new-workorder-spinner"
  >
    <p style="font-size: 20px; color: white" class="text-center my-4">
      Loading...
    </p>
  </ngx-spinner>

<app-nav></app-nav>
<div class="router-content">
  <router-outlet></router-outlet>
</div>
