<ng-container *ngIf="!loading">
  <div class="form-container mat-elevation-z5">
    <div class="form-header">
      <h2 class="text-center">Mold Service Workorder</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="raiseWorkorder()" autocomplete="off">
      <ng-container class="workorder-number">
        <mat-form-field>
          <mat-label>Workorder Number</mat-label>
          <input
            readonly
            matInput
            type="text"
            formControlName="workorderNumber"
          />
        </mat-form-field>
      </ng-container>

      <ng-container class="raiser-fullName">
        <mat-form-field>
          <mat-label>Raised By</mat-label>
          <input
            readonly
            matInput
            type="text"
            class="text-capitalize"
            formControlName="raiserFullName"
          />
        </mat-form-field>
      </ng-container>

      <ng-container class="date-time-raised">
        <div>
          <mat-form-field class="date shareWidth">
            <mat-label>Date Raised</mat-label>
            <input readonly matInput type="text" formControlName="dateRaised" />
          </mat-form-field>
          <mat-form-field class="time shareWidth">
            <mat-label>Time Raised</mat-label>
            <input readonly matInput type="text" formControlName="timeRaised" />
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container class="section-select">
        <mat-form-field>
          <mat-label>Section</mat-label>
          <mat-select formControlName="section">
            <mat-option value="" selected> --select section-- </mat-option>
            <mat-option
              *ngFor="let section of sections | sectionsFilter: 'Mold Service'"
              [value]="section"
              >{{ section.name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="form.controls['section']?.errors?.['required']">
            Section is required.</mat-error
          >
        </mat-form-field>
      </ng-container>

      <ng-container class="machine-select">
        <mat-form-field>
          <mat-label>Machine</mat-label>
          <mat-select formControlName="machine">
            <ng-container *ngIf="section; else noSection">
              <mat-option value="" selected>--select machine--</mat-option>
              <mat-option
                *ngFor="let machine of machines | machinesFilter: section"
                [value]="machine"
              >
                {{ machine.name }}</mat-option
              >
            </ng-container>
            <ng-template #noSection>
              <mat-option value="" selected>
                -- select a section first --</mat-option
              >
            </ng-template>
          </mat-select>
          <mat-error *ngIf="form.controls['machine']?.errors?.['required']"
            >Machine is required.</mat-error
          >
        </mat-form-field>
      </ng-container>

      <ng-container class="mold-service">
        <mat-form-field>
          <mat-label>Mold Number</mat-label>
          <input
            type="text"
            matInput
            appValidateMixedFormat
            formControlName="moldNumber"
          />
          <mat-error *ngIf="form.controls['moldNumber']?.errors?.['required']">
            You must specify the mold to be serviced.
          </mat-error>
          <mat-error
            *ngIf="form.controls['moldNumber']?.errors?.['invalidFormat']"
          >
            {{ form.controls['moldNumber']?.errors?.['invalidFormat'].value }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container class="workorder-description">
        <mat-form-field>
          <mat-label>Problem Description</mat-label>
          <textarea
            formControlName="workorderDescription"
            class="text-capitalize"
            appValidateSentenceFormat
            type="text"
            matInput
            placeholder="Optional: Highlight any mold parts to pay attention to."
            maxlength="1000"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
          >
          </textarea>

          <mat-error
            *ngIf="form.controls['workorderDescription']?.errors?.['invalidSentenceFormat']"
          >
            {{
                form.controls['workorderDescription']?.errors?.['invalidSentenceFormat'].value
            }}</mat-error
          >
        </mat-form-field>
      </ng-container>

      <ng-container class="submit-button">
        <button type="submit" class="shadow-none btn btn-success my-3">
          Raise Workorder
        </button>
      </ng-container>
    </form>
  </div>
</ng-container>
