<!-- sidenav container title -->
<div class="sidenav-container-header">
  <div class="sidenav-header">
    {{ createWorkordersHeader() | titlecase }}
  </div>
</div>

<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
  <!-- left sidenav -->
  <mat-sidenav
    #leftSidenav
    class="left-sidenav sidenav"
    mode="side"
    position="start"
    [(opened)]="showLeftSidenav"
    (opened)="closeRightSidenav()"
  >
    <app-workorder-numbers
      [workorders]="workorders"
      [loadingAllWorkorders]="loadingWorkorders"
      [loadingAllWorkordersFailed]="loadingWorkordersFailed"
      (workordersFiltered)="workordersFiltered($event)"
      (displayCurrentWorkorder)="displayCurrentWorkorder($event)"
    >
    </app-workorder-numbers>
  </mat-sidenav>

  <!-- right sidenav -->
  <mat-sidenav
    #rightSidenav
    class="right-sidenav sidenav"
    mode="side"
    position="end"
    [(opened)]="showRightSidenav"
    (opened)="closeLeftSidenav()"
  >
    <div>
      <app-workorder-actions
        [selectedWorkorder]="workorder"
        [userType]="userType"
        [userUid]="userUid"
        [workordersType]="workordersType"
        (showModal)="toggleModal($event)"
        (updateWorkorder)="updateWorkorder($event)"
      ></app-workorder-actions>
    </div>
  </mat-sidenav>

  <!-- main sidenav content -->
  <mat-sidenav-content class="sidenav-content-container">
    <!-- loading workorders -->
    <div *ngIf="loadingWorkorders">
      <div class="loading-workorders-bootstrap-spinner">
        <div
          #loadingWorkordersSpinner
          class="spinner-border"
          style="width: 3rem; height: 3rem"
          role="status"
        ></div>

        <div class="loading-workorders-spinner-text">
          <strong>Loading workorders...</strong>
        </div>
      </div>
    </div>

    <!-- error loading workorders -->
    <div *ngIf="!loadingWorkorders && loadingWorkordersFailed">
      <div class="no-workorders-to-display" style="color: red">
        <p>
          {{
            loadingWorkordersIndexingError
              ? loadingWorkordersIndexingError
              : loadingWorkordersOtherError
              ? loadingWorkordersOtherError
              : loadingWorkordersDefaultError
          }}
        </p>
      </div>
    </div>

    <!-- loading workorders done -->
    <div
      *ngIf="
        !loadingWorkorders && !loadingWorkordersFailed && workordersToDisplay
      "
    >
      <!-- no workorders -->
      <div *ngIf="workordersToDisplay.length === 0">
        <div class="no-workorders-to-display">
          <p>There are no workorders to display.</p>
        </div>
      </div>

      <!-- workorders present -->
      <div *ngIf="workordersToDisplay.length !== 0">
        <!-- no workorder selected in left pane -->
        <div *ngIf="!workorder">
          <div class="no-workorders-to-display">
            <p>
              <span class="text-decoration-underline">Select</span> a workorder
              in the
              <span class="text-decoration-underline">left pane</span>
              to view details.
            </p>
            
            <p>Click on the group title to open workorders under that group.</p>

            <p *ngIf="workorderHasActions">
              The available
              <span class="text-decoration-underline">actions</span> for the
              workorder will be in the
              <span class="text-decoration-underline">right pane.</span>
              Click on <strong>Help?</strong> to get a guideline on what each of
              the actions does.
            </p>
          </div>
        </div>

        <!-- workorder selected in left pane -->
        <div *ngIf="workorder">
          <div class="workorder-selected-container">
            <!-- toggle sidenavs status -->
            <div class="toggle-sidenavs-status">
              <!-- workorder has actions -->
              <div *ngIf="workorderHasActions">
                <div class="workorder-has-actions">
                  <button
                    class="toggle-left-sidenav toggle-sidenav-button"
                    mat-icon-button
                    type="button"
                    (click)="leftSidenav.toggle()"
                  >
                    <mat-icon *ngIf="showLeftSidenav">chevron_left</mat-icon>
                    <mat-icon *ngIf="!showLeftSidenav">chevron_right</mat-icon>
                  </button>

                  <button
                    class="toggle-right-sidenav toggle-sidenav-button"
                    mat-icon-button
                    type="button"
                    (click)="rightSidenav.toggle()"
                  >
                    <mat-icon *ngIf="showRightSidenav">chevron_right</mat-icon>
                    <mat-icon *ngIf="!showRightSidenav">chevron_left</mat-icon>
                  </button>
                </div>
              </div>

              <!-- workorder has no actions -->
              <div *ngIf="!workorderHasActions">
                <div class="workorder-has-no-actions">
                  <button
                    class="toggle-left-sidenav toggle-sidenav-button"
                    mat-icon-button
                    type="button"
                    (click)="showLeftSidenav = !showLeftSidenav"
                  >
                    <mat-icon *ngIf="showLeftSidenav">chevron_left</mat-icon>
                    <mat-icon *ngIf="!showLeftSidenav">chevron_right</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <!-- workorder form -->
            <div class="display-workorder">
              <div class="form-container mat-elevation-z5">
                <app-workorder
                  [workorder]="workorder"
                  [user]="userType"
                  (updateWorkorder)="updateWorkorder($event)"
                ></app-workorder>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- help modal -->
<div *ngIf="showHelpModal && workorder">
  <app-help-modal
    [user]="userType"
    [workorder]="workorder"
    (close)="toggleModal($event)"
  >
  </app-help-modal>
</div>

<!-- SUPERVISORS -->
<!-- reject workorder -->
<div *ngIf="showRejectWorkorderModal && workorder">
  <app-reject-workorder-modal
    [workorder]="workorder"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-reject-workorder-modal>
</div>

<!-- superisor handover -->
<div *ngIf="showSupervisorsHandoverModal && workorder && supervisors">
  <app-supervisors-handover-modal
    [workorder]="workorder"
    [supervisors]="supervisors"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-supervisors-handover-modal>
</div>

<!-- change technicians -->
<div *ngIf="showChangeTechniciansModal && workorder && technicians">
  <app-change-technicians-modal
    [workorder]="workorder"
    [technicians]="technicians"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-change-technicians-modal>
</div>

<!-- assign technicians -->
<div *ngIf="showAssignTechniciansModal && workorder && technicians">
  <app-assign-technicians-modal
    [workorder]="workorder"
    [technicians]="technicians"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-assign-technicians-modal>
</div>

<!-- TECHNICIANS -->
<!-- eng handover -->
<div *ngIf="showEngTechnicianHandoverModal && workorder && technicians">
  <app-technicians-handover-modal
    [workorder]="workorder"
    [technicians]="technicians"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-technicians-handover-modal>
</div>

<!-- stores handover -->
<div *ngIf="showStoreTechnicianHandoverModal && workorder">
  <app-store-technicians-handover-modal
    [workorder]="workorder"
    [technicians]="technicians"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-store-technicians-handover-modal>
</div>

<!-- MANAGERS - ENG -->
<!-- review workorders -->
<div *ngIf="showReviewWorkordersModal && workorders">
  <app-review-workorders-modal
    [workorders]="workorders"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-review-workorders-modal>
</div>

<!-- raise concerns -->
<div *ngIf="showRaiseConcernsModal && workorder">
  <app-raise-concern-modal
    [workorder]="workorder"
    (close)="toggleModal($event)"
    (updateWorkorder)="updateWorkorder($event)"
  ></app-raise-concern-modal>
</div>
