mat-sidenav-container.sidenav-container {
    height: 90vh;
    width: 90vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;

    mat-sidenav.sidenav {
        width: 130px;
        display: flex;
        flex-flow: row wrap;

    }

    mat-sidenav-content.sidenav-content-container {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-flow: row wrap;

        .loading-workorders-bootstrap-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .loading-workorders-spinner-text {
                margin-top: 16px;
                text-align: center;
            }
        }

        .no-workorders-to-display {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0px 16px;

            p {
                text-align: center;
            }
        }

        .workorder-selected-container {
            display: flex;
            flex-direction: column;

            .toggle-sidenavs-status {
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0;
                z-index: 2;

                .workorder-has-actions,
                .workorder-has-no-actions {
                    display: flex;
                    align-items: center;
                }

                @media (min-width: 372px) {
                    .workorder-has-actions {
                        justify-content: space-between;
                    }

                    .workorder-has-no-actions {
                        justify-content: flex-start;
                    }
                }

                @media (max-width: 371px) {
                    .workorder-has-actions {
                        justify-content: center;
                    }

                    .workorder-has-no-actions {
                        justify-content: center;
                    }
                }

                ::ng-deep {
                    .mat-button-wrapper {
                        .mat-icon {
                            background: rgb(60, 54, 54);
                            color: white;
                        }
                    }
                }
            }

            .display-workorder {
                z-index: 1;
            }
        }
    }
}
