$mat-card-header-height: 10%;

span.emailAddress {
    color: blue;
}
span.emailAddress:hover {
    text-decoration: underline;
}

.image {
    border-radius: 25px;
    border: 2px solid #73ad21;
}

// general card formatting
mat-card.home-page-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 15px;
    border-radius: 20px;
    margin: 16px auto;
    background: #e9eef3;

    mat-card-content {
        width: 100%;

        .bootstrap-spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .bootstrap-spinner {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 32px 0 8px;

                .loading-tag {
                    margin: 16px 0;
                }
            }
        }
    }
}

// with chart displayed = .home-page-card.chart-displayed
mat-card.home-page-card:not(.chart-hidden) {
    max-width: 90vw;
    height: 75vh;

    mat-card-header {
        ::ng-deep {
            .mat-card-header-text {
                display: flex;
                margin: 0;
                padding: 0;
            }
        }
        height: $mat-card-header-height;
    }

    mat-card-content {
        height: calc(100% - $mat-card-header-height);
        // .custom-chart-container {
        //     display: block;
        //     height: 100%;
        //     width: 100%;
        // }
    }
}

// with chart hidden = .home-page-card.chart-hidden
mat-card.home-page-card:not(.chart-displayed) {
    max-width: 300px;

    mat-card-content {
        .navigation-links {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row wrap;

            div {
                width: 100%;
                margin-top: 10px;

                a.btn {
                    text-decoration: none;
                }

                a.btn.btn-link:hover,
                a.btn.btn-link:focus {
                    background: #002ead;
                    color: white;
                }
            }
        }
    }
}

.toggle-chart-and-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
