<mat-card class="home-page-card">
  <mat-card-header class="mx-auto">
    <mat-card-title>Workordered Home </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="loading" class="bootstrap-spinner-container-wrapper">
      <div class="bootstrap-spinner-container">
        <div class="bootstrap-spinner">
          <div
            #workorderLoadingSpinner
            class="spinner-border"
            style="width: 2rem; height: 2rem"
            role="status"
          ></div>
          <span class="loading-tag"><strong>Loading...</strong></span>
        </div>
      </div>
    </div>

    <!-- user logged in -->
    <div *ngIf="!loading && !loadingFailed">
      <div *ngIf="user">
        <!-- user email verified -->
        <div *ngIf="user.emailVerified" class="user-email-verified">
          <!-- pick what to see -->
          <div class="view-chart-button">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              [routerLink]="['/reports']"
            >
              View Reports
            </button>
          </div>

          <!-- raw data -->
          <div class="navigation-links-container">
            <!-- operators -->
            <div *ngIf="isOperatorOrOperatorLike" class="navigation-links">
              <!-- raise new workorder -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  routerLink="/new-workorder"
                >
                  Raise New Workorder
                </a>
              </div>

              <!-- raised workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/other/raised', userUid]"
                >
                  Raised Workorders - (
                  {{ raisedWorkorders ? raisedWorkorders.length : 0 }} )
                </a>
              </div>

              <!-- approved workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-outline-success home-nav-button shadow-none"
                  [routerLink]="['/workorders/other/approved', userUid]"
                  >Approved Workorders - (
                  {{ approvedWorkorders ? approvedWorkorders.length : 0 }} )
                </a>
              </div>

              <!-- rejected workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-outline-warning home-nav-button shadow-none"
                  [routerLink]="['/workorders/other/rejected', userUid]"
                  >Rejected Workorders - (
                  {{ rejectedWorkorders ? rejectedWorkorders.length : 0 }} )
                </a>
              </div>
            </div>

            <!-- supervisors -->
            <div *ngIf="isSupervisor" class="navigation-links">
              <!-- raise workorders-->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  routerLink="/new-workorder"
                >
                  Raise New Workorder
                </a>
              </div>

              <!-- escalated workorders -->
              <ng-container *ngIf="escalatedWorkorders.length">
                <div>
                  <a
                    type="button"
                    class="btn btn-outline-danger home-nav-button shadow-none"
                    [routerLink]="['/workorders/supervisor/escalated', userUid]"
                    >Escalated Workorders - (
                    {{ escalatedWorkorders ? escalatedWorkorders.length : 0 }} )
                  </a>
                </div>
              </ng-container>

              <!-- raised workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/supervisor/raised', userUid]"
                >
                  Raised Workorders - (
                  {{ raisedWorkorders ? raisedWorkorders.length : 0 }} )
                </a>
              </div>

              <!-- unverified workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/supervisor/unverified', userUid]"
                  >Unverified Workorders - (
                  {{ unverifiedWorkorders ? unverifiedWorkorders.length : 0 }}
                  )</a
                >
              </div>

              <!-- approved workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-outline-success home-nav-button shadow-none"
                  [routerLink]="['/workorders/supervisor/approved', userUid]"
                  >Approved Workorders - (
                  {{ approvedWorkorders ? approvedWorkorders.length : 0 }} )
                </a>
              </div>

              <!-- rejected workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-outline-warning home-nav-button shadow-none"
                  [routerLink]="['/workorders/supervisor/rejected', userUid]"
                  >Rejected Workorders - (
                  {{ rejectedWorkorders ? rejectedWorkorders.length : 0 }} )
                </a>
              </div>
            </div>

            <!-- eng technicians -->
            <div *ngIf="isEngineeringTechnician" class="navigation-links">
              <!-- open workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/engineering/open', userUid]"
                  >Open Workorders - (
                  {{
                    engTechnicianOpenWorkorders
                      ? engTechnicianOpenWorkorders.length
                      : 0
                  }}
                  )
                </a>
              </div>

              <!-- closed workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/engineering/closed', userUid]"
                  >Closed Workorders - (
                  {{
                    engTechnicianClosedWorkorders
                      ? engTechnicianClosedWorkorders.length
                      : 0
                  }}
                  )
                </a>
              </div>
            </div>

            <!-- stores technicians -->
            <div *ngIf="isStoresTechnician" class="navigation-links">
              <!-- open workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/stores/open', userUid]"
                  >Open Workorders - (
                  {{
                    storesTechnicianOpenWorkorders
                      ? storesTechnicianOpenWorkorders.length
                      : 0
                  }}
                  )
                </a>
              </div>

              <!-- closed-workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/stores/closed', userUid]"
                  >Closed Workorders - (
                  {{
                    storesTechnicianClosedWorkorders
                      ? storesTechnicianClosedWorkorders.length
                      : 0
                  }}
                  )
                </a>
              </div>

              <!-- edit section -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/resources/edit-section']"
                  >Edit Sections</a
                >
              </div>
              <!-- edit machine -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/resources/edit-machine']"
                  >Edit Machines</a
                >
              </div>
              <!-- edit spare -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/resources/edit-spare']"
                  >Edit Spares</a
                >
              </div>
            </div>

            <!-- eng manager -->
            <div *ngIf="isEngineeringManager" class="navigation-links">
              <!-- all un-reviewed workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-link home-nav-button shadow-none"
                  [routerLink]="['/workorders/manager/un-reviewed', userUid]"
                >
                  Unreviewed Workorders - (
                  {{ unReviewedWorkorders ? unReviewedWorkorders.length : 0 }} )
                </a>
              </div>

              <!-- all reviewed workorders -->
              <div>
                <a
                  type="button"
                  class="btn btn-outline-success home-nav-button shadow-none"
                  [routerLink]="['/workorders/manager/reviewed', userUid]"
                >
                  Reviewed Workorders - (
                  {{ reviewedWorkorders ? reviewedWorkorders.length : 0 }} )
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- unverified email -->
        <div *ngIf="!user.emailVerified">
          <p>Hello {{ user.displayName | titlecase }},</p>

          <p>
            Verification email sent to
            <span class="emailAddress">{{ user.email }}</span>
          </p>

          <p>
            Complete the verification
            <span class="fw-bold fst-italic">then reload this page.</span>
          </p>

          <p>
            Remember to check your spam and junk mail folders, where automated
            messages sometimes filter.
          </p>

          <p>
            Didn't get the email?
            <a
              class="btn btn-link link-button"
              type="button"
              (click)="resendVerificationCode()"
            >
              Resend Verification Code
            </a>
          </p>
        </div>
      </div>

      <!-- no user-logged in -->
      <div *ngIf="!user">
        <p>Hello there,</p>
        <p>
          It is great to have you on board the Workordered family, where your
          world of paper-less workorders awaits.
        </p>
        <p>
          You are joining other individuals looking to easily raise and/or track
          workorders in their daily operations.
        </p>
        <p>
          For whatever reason you are joining us, we have something for you.
        </p>
        <p>To get started, register or log in above...</p>
      </div>
    </div>

    <!-- error loading workorders -->
    <div *ngIf="!loading && loadingFailed">
      <p>
        {{
          indexingError ? indexingError : otherError ? otherError : defaultError
        }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
