span.emailAddress {
    color: blue;
}
span.emailAddress:hover {
    text-decoration: underline;
}

.image {
    border-radius: 25px;
    border: 2px solid #73ad21;
}

// div.home-page {
//   display: flex;
//   max-width: 100%;
//   width: 100%;
//   min-width: 100%;
//   flex-flow: row wrap;
// }
mat-card.home-page-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    max-width: 300px;
    padding: 15px;
    background: #c5c6c7;
    border-radius: 20px;
    margin: 16px auto;
}
