$code-length: 35%;
$quantity-length: 15%;
$cost-length: 50%;
.spare-form-header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 16px 0px 5px;

    .code-label,
    .quantity-label,
    .total-cost-label {
        color: black;
        font-weight: bold;
    }

    .code-label {
        width: $code-length;
    }

    .quantity-label {
        width: $quantity-length;
    }

    .total-cost-label {
        width: $cost-length;
    }
}

.spare-form-row {
    width: 100%;

    mat-form-field.code {
        width: $code-length;
    }

    mat-form-field.quantity {
        width: $quantity-length;
    }

    mat-form-field.total-cost {
        width: $cost-length;
    }
}

.total-spares-cost-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 16px;

    .spares-cost-tag,
    .spares-cost-value {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
