/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #efe2ba;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  max-width: 300px;
  padding: 15px;
  background: #eceff1;
  border-radius: 16px;
  margin: 16px auto; // margin = top,right,bottom,left
}

form:not(.review-workorders-form) {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; // left-right alignment
  mat-form-field {
    width: 100%;
  }
  mat-form-field.shareWidth {
    width: 50%;
  }
}

a.router-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.link-button {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
}

.sidenav-container-header {
  margin: 8px 0 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .sidenav-header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    border-radius: 16px;
    padding: 2px 15px;
  }
}

// for modals select fields behavior
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

// // for modals select fields behavior
// ::ng-deep {
//     .cdk-global-overlay-wrapper,
//     .cdk-overlay-container {
//         z-index: 99999 !important;
//     }
// }
