<ngx-spinner type="ball-newton-cradle" name="app-sign-up-spinner">
  <p style="font-size: 20px; color: white">Adding you to the family...</p>
</ngx-spinner>

<div class="form-container mat-elevation-z5">
  <h2 color="primary">Registration Form</h2>
  <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field id="firstName" appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        matInput
        appValidateNameFormat
        formControlName="firstName"
        type="text"
        class="text-capitalize"
      />
      <mat-error *ngIf="form.controls['firstName']?.errors?.['required']">
        First name required.
      </mat-error>
      <mat-error
        *ngIf="form.controls['firstName']?.errors?.['invalidNameFormat']"
      >
        Invalid format.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="lastName" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        appValidateNameFormat
        formControlName="lastName"
        type="text"
        class="text-capitalize"
      />
      <mat-error *ngIf="form.controls['lastName']?.errors?.['required']">
        Last name required.
      </mat-error>
      <mat-error
        *ngIf="form.controls['lastName']?.errors?.['invalidNameFormat']"
      >
        Invalid format.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="email" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="john@example.com" />
      <mat-error *ngIf="form.controls['email']?.errors?.['required']">
        Email address required.
      </mat-error>

      <mat-error *ngIf="form.controls['email']?.errors?.['email']">
        Invalid format.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="phoneNumber" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        formControlName="phoneNumber"
        maxlength="10"
        minlength="10"
        placeholder="07xxxxxxxx/01xxxxxxxx"
        #phoneNumber
        appValidatePhoneFormat
      />
      <mat-error *ngIf="form.controls['phoneNumber']?.errors?.['required']">
        Phone number required.
      </mat-error>

      <mat-error
        *ngIf="form.controls['phoneNumber']?.errors?.['invalidPhoneFormat']"
      >
        Invalid phone number format.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="group" appearance="outline">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group">
        <mat-option value="" selected> -- select your group -- </mat-option>
        <mat-option *ngFor="let group of groups" value="{{ group }}">{{
          group
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['group']?.errors?.['required']">
        Group is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.controls['group']?.value === 'Technician'" appearance="outline"  >
      <mat-label>Technician Group</mat-label>
      <mat-select #technicianGroupSelect formControlName="technicianGroup">
        <mat-option
          *ngFor="let technicianGroup of technicianGroups"
          value="{{ technicianGroup }}"
          >{{ technicianGroup }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.controls['technicianGroup']?.errors?.['required']">
        Specific technician group required.
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.controls['group']?.value === 'Supervisor'" appearance="outline">
      <mat-label>Supervisor Group</mat-label>
      <mat-select #supervisorGroupSelect formControlName="supervisorGroup">
        <mat-option
          *ngFor="let supervisorGroup of supervisorGroups"
          value="{{ supervisorGroup }}"
          >{{ supervisorGroup }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.controls['supervisorGroup']?.errors?.['required']">
        Specific supervisor group required.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="password" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'"
        id="password"
        name="password"
        placeholder="Use atleast 6 characters"
        #password
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        type="button"
        tabindex="-1"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="form.controls['password']?.errors?.['required']">
        Password required.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="confirmPassword" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        appComparePasswords
        compareWith="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
        type="button"
        tabindex="-1"
      >
        <mat-icon>{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['confirmPassword']?.errors?.['required']">
        Confirmation password required.
      </mat-error>
      <mat-error
        *ngIf="form.controls['confirmPassword']?.errors?.['passwordsMismatch']"
        >Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button class="my-2 btn btn-primary" type="submit">Register</button>
  </form>
</div>
